{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block scripts %}
    <script src="{{assets}}/js/util.js"></script>
{% endblock scripts %}

{% block onload %}
    $('#inval').hide()
    $('#cfr').on('submit', false);
    $('.cval').on('blur', function(e){
        e.preventDefault()
        var t = $(this)
        $.post('{{base}}/ajax.php', {
                op :'confvalue',
                name : t.prop('name'),
                value: t.val()
            },
            function(data){
            }
        )
    })
    $('.nname').on('blur', function(e){
        e.preventDefault()
        var t = $(this)
	var name = t.val()
	if (name != '')
        {
	    if (!name.match(/^[a-z][a-z0-9]+$/i))
	    {
	        bootbox.alert('Invalid name format')
		t.val('')
	    }
	    else if ($('input[name="'+name+'"]').length != 0)
	    {
	        bootbox.alert('That item already exists')
	    }
	    else
	    {
	        $('#inval').show()
		$('#Xnewval').focus()
	    }
        }
    })
    $('.nval').on('blur', function(e){
        e.preventDefault()
        var t = $(this)
	var name = $('.nname').val()
	var value = t.val()
        $.post('{{base}}/ajax.php', {
                op :'newconf',
                name : name,
                value: value
            },
            function(data){
	        $('.nname').parent().prev().after('<div class="form-group"><label for="X'+name+'">'+name+'</label><input type="text" id="X'+
		    name+'" name="'+name+'" value="'+value+'" class="form-control cval"/></div>')
		$('.nname').val('')
		t.val('')
		$('#inval').hide()
            }
        )
    })
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
	<h1>Configuration Values</h1>
    </div>
{% endblock header %}

{% block main %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form id="cfr" action="#" method="post">
                {% for p in siteinfo.siteconfig %}
                    {{f.text({label: p.name, name: p.name, class: 'cval', id: 'X'~p.name, value: p.value })}}
                {% endfor %}
                {{f.text({label: 'New Config', name: 'newconf', class: 'nname', id: 'Xnewconf', ph: 'Name for new config item' })}}
		<div id="inval">
                    {{f.text({label: 'New Value', name: 'newval', class: 'nval', id: 'Xnewval', ph: 'Value for new config item' })}}
	        </div>
            </form>
        </div>
    </div>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
