{% extends 'page.twig' %}

{% macro tick(val, class) %}
<i class="{{class}} fa fa-toggle-{% if val %}on{% else %}off{% endif %}"></i>
{% endmacro tick %}

{% macro inline(type, name, msg, id, value) %}
<a href="#" class="ppedit" data-name="{{name}}" data-type="{{type}}" data-pk="{{id}}" data-url="{{base}}/ajax.php" data-title="{{msg}}">{{value}}</a>
{% endmacro inline %}

{% import _self as h %}

{% block scripts %}
    <script src="{{fwurls.parsley}}"></script>
    <script src="{{assets}}/js/util.js"></script>
    <script src="{{fwurls.editable}}"></script>
{% endblock scripts %}

{% block css %}
    <link rel="stylesheet" href="{{fwurls.editablecss}}"/>
{% endblock css %}

{% set types = ['Object', 'Template', 'In-site Temporary Redirect', 'In-site Permanent Redirect', 'External Temporary Redirect',  'External Permanent Rehome'] %}

{% block setup %}
    var kname = []
    function paramset(params)
    {
	params.id = params.pk
	params.bean = 'page'
	params.op = 'update'
	return params
    }
    kname = [
    {% for v in types %}
        {value: {{loop.index}}, text: '{{v}}'}{{loop.last ? '' : ','}}
    {% endfor %}
    ]
{% endblock setup %}

{% block onload %}
    $('.ppedit').editable({params: paramset, source: kname});
    $('#npform').on('submit', false)
    $('#addb').on('click', function(e){
        e.preventDefault()
        var pn = $('#npname').val().toLowerCase()
	if (!pn.match(/^[a-z][a-z0-9.]*$/))
	{
	    bootbox.alert('&quot;'+pn+'&quot; is not a valid page name. Letters and numbers only')
	    return
	}
	var sp = null
	var error = false
	$('.pname').each(function(e){
	    var t = $(this).text()
	    if (t == pn)
	    {
	        error = true
	        return false
	    }
	    if (t > pn)
	    {
		sp = $(this)
		return false
	    }
	})
	if (error)
	{
	    bootbox.alert('That page already exists')
	    return
	}
        var src = $('#npsrc').val()
        if (src == '')
        {
	    bootbox.alert('Please specify a source')
	    return
        }
        var kind = $('#npkind').val()
        if (kind == '')
        {
	    bootbox.alert('Please pick template or object')
	    return
        }
	var admin = $('#npadmin').is(':checked') ? 1 : 0
	var active = $('#npactive').is(':checked') ? 1 : 0
	var login = $('#nplogin').is(':checked') ? 1 : 0
	var mobile = $('#npmobile').is(':checked') ? 1 : 0
	var devel = $('#npdevel').is(':checked') ? 1 : 0
	$('#npage').modal('hide')
	var htm = '<tr><td>'+pn+'</td><td>'+kname[$('#npkind').val()]+'</td><td>'+$('#npsrc').val()+'</td>'+
	'<td>'+mktoggle('logn', login)+'</td><td>'+mktoggle('mobo', mobile)+'</td><td>'+mktoggle('admb', admin)+'</td><td>'+
        mktoggle('actb', active)+'</td>'+'<td>'+mktoggle('devb', devel)+'</td>'+
	'<td><i class="delb fa fa-trash-o"></i></td></tr>'
	var nx
	if (sp == null)
	{
	    nx = $(htm).appendTo($('#ptab tbody'))
	}
	else
	{
	    nx = $(htm).insertBefore(sp.parent())
	}
	$.post('{{base}}/ajax.php', {
		op : 'addpage',
		name : pn,
		kind : kind,
		source : src,
		admin : admin,
		active : active,
                devel : devel,
                login : login,
                mobile: mobile
	    }, function(data){
	       nx.data('id', data)
	    }
	)
    })
    $('#ptab').on('click', function(e){
        var x = $(e.target)
	if (x.hasClass('delb'))
	{
	    e.preventDefault();
	    e.stopPropagation();
	    bootbox.confirm('Are you sure you you want to delete this page?', function(r){
	        if (r)
		{ // user picked OK
		    var tr = $(x).parent().parent()
		    $.post('{{base}}/ajax.php', {
			    op :'delbean',
			    'bean' : 'page',
			    id : tr.data('id')
			},
			function(data){
			    tr.css('background-color', 'yellow').fadeOut(1500, function(){ tr.remove() })
			}
		    )
		}
	    })
	}
	else if (x.hasClass('admb'))
	{
	    dotoggle(e, x, 'page', 'admin')
	}
	else if (x.hasClass('actb'))
	{
	    dotoggle(e, x, 'page', 'active')
	}
	else if (x.hasClass('devb'))
	{
	    dotoggle(e, x, 'page', 'devel')
	}
	else if (x.hasClass('logn'))
	{
	    dotoggle(e, x, 'page', 'needlogin')
	}
	else if (x.hasClass('mobo'))
	{
	    dotoggle(e, x, 'page', 'mobileonly')
	}
    })
    $('#npage').on('show.bs.modal', function(e){
	$('#npform input,select').val('')
    })
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
	<h1>Pages</h1>
    </div>
{% endblock header %}

{% block main %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <table class="table table-striped table-hover" id="ptab">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Kind</th>
                        <th>Source</th>
			<th>Login Req.</th>
			<th>Mobile Only</th>
			<th>Admin</th>
			<th>Active</th>
			<th>Developer</th>
			<th colspan="1">&nbsp;</th>
                    </tr>
                </thead>
		<tbody>
		    {% for p in siteinfo.pages %}
			<tr data-id="{{p.id}}">
			    <td class="pname">{{h.inline('text', 'name', 'Enter name', p.getID, p.name)}}</td>
			    <td>{{h.inline('select', 'kind', 'Enter kind', p.getID, types[p.kind-1])}}</td>
			    <td>{{h.inline('text', 'source', 'Enter source', p.getID, p.source)}}</td>
			    <td>{{h.tick(p.needlogin, 'logn')}}</td>
			    <td>{{h.tick(p.mobileonly, 'mobo')}}</td>
			    <td>{{h.tick(p.admin, 'admb')}}</td>
			    <td>{{h.tick(p.active, 'actb')}}</td>
			    <td>{{h.tick(p.devel, 'devb')}}</td>
			    <td><i class="delb fa fa-trash-o"></i></td>
			</tr>
		    {% else %}
		        <tr><td colspan="4">No pages defined</td></tr>
		    {% endfor %}
		</tbody>
            </table>
	    <p><button class="btn btn-primary" data-toggle="modal" data-target="#npage" type="button">Add Page</button></p>
        </div>
    </div>
    <div class="modal fade" id="npage">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">New Page</h4>
                    </div>
                        <div class="modal-body">
                            <form action="#" method="POST" id="npform">
                                <div class="form-group">
                                    <label for="npname">Name</label>
                                    <input type="text" class="form-control" id="npname" placeholder="page name" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="npkind">Kind</label>
                                    <select id="npkind" class="form-control" required="required">
                                        <option value="">&mdash; Pick a Type &mdash;</option>
                                        <option value="1">Object</option>
                                        <option value="2">Template</option>
                                        <option value="3">In-site Temporary Redirect</option>
                                        <option value="4">In-site Permanent Redirect</option>
                                        <option value="5">External Temporary Redirect</option>
                                        <option value="6">External Permanent Rehome</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="npsrc">Source</label>
                                    <input type="text" class="form-control" id="npsrc" placeholder="page.twig, class name, /local/redirection or URL" required="required"/>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="1" id="npactive"/> Active</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="1" id="npmobile"/> Mobile Only</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="1" id="nplogin"/> Must Login</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="1" id="npadmin"/> Needs Admin</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="1" id="npdevel"/> Developer Only</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="addb">Add</button>
                        </div>
                </div>
        </div>
    </div>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
